{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
	<div id="homepage-content" class="page-content">
		<div class="home-section-1">
			{% include "home/parallax_background.html" %}
			{% include "home/title_nav.html" %}
		</div>
		{% for block in page.content %}
			<div class="home-section-{{forloop.counter|add:1}}">
				{% include_block block %}
			</div>
		{% endfor %}
		{% include "navigation/footer.html" %}
	</div>
{% endblock content %}

{% block footer %}
	{# Remove footer from it's default position - import within homepage-content instead #}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/vendor/fontsLoaded.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/home.js' %}"></script>
{% endblock %}
