{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
	<div id="homepage-content" class="page-content">
		<div class="home-section-1">
			{% include "home/parallax_background.html" %}
			{% include "home/title_nav.html" %}
		</div>
		{% for block in page.content %}
			<div class="home-section-{{forloop.counter|add:1}}">
				{% include_block block %}
			</div>
		{% endfor %}
	</div>
{% endblock content %}
