{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}homepage{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}

	<div id="homepage-title">
		<div style="max-width:1200px; margin:0 auto; padding:0 1em;">
			<h1 class="title-text">The Gem Exchange</h1>
			<ul id="social-links">
				{% for link in links %}
				<li class="{{link.name|lower}}">
					<div>
						<a href="{{link.link}}" target="_blank">
							<i class="{{link.icon}}"></i>
							<span>{{link.name}}</span>
						</a>
					</div>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div id="multilayer-background" class="home-section-1">
		<img id="layer-1" src="/static/img/home/1-background.png">
		<img id="layer-2" src="/static/img/home/2-base-stars.png">
		<img id="layer-3" src="/static/img/home/3-extra-stars.png">
		<img id="layer-4" src="/static/img/home/4-planets.png">
		<img id="layer-5" src="/static/img/home/5-mountains.png">
		<img id="layer-6" src="/static/img/home/6-trees.png">
		<img id="layer-7" src="/static/img/home/7-characters.png">
	</div>

	<div id="homepage-content" class="page-content">
		{% for block in page.content %}
		<div class="home-section-{{forloop.counter|add:1}}">
			{% if forloop.first %}
				<img class="background-after" src="/static/img/home/stardragon-space.jpg">
			{% elif forloop.counter == 2%}
				<img class="background-after" src="/static/img/comic/joarca-map.png">
			{% endif %}
			<div class="grid">
				{% include_block block %}
			</div>
		</div>
		{% endfor %}
	</div>

{% endblock content %}

{% block extra_js %}
	<script type="text/javascript" src="/static/js/home.js"></script>
{% endblock %}
