<div class="home-jump-links">
	<ul>
		<li class="home-link-1"><a href="#" onClick="scrollToSection(1)">Home</a></li>
		<li class="home-link-2"><a href="#" onClick="scrollToSection(2)">Intro</a></li>
		<li class="home-link-3"><a href="#" onClick="scrollToSection(3)">Comic</a></li>
		<li class="home-link-4"><a href="#" onClick="scrollToSection(4)">Traits</a></li>
		<li class="home-link-5"><a href="#" onClick="scrollToSection(5)">Discord</a></li>
		<li class="home-link-6"><a href="#" onClick="scrollToSection(6)">About</a></li>
	</ul>
</div>
