# System Files
.DS_Store
*/**/.DS_Store

# Database
db.sqlite3

# Sensitive Info
config.py
google-analytics.json

# Licensed Vendor Files (only commit minified)
litetooltip.js

# Logs
debug.log

# PIP
src/

# Python config
*.pyc
*/**/*.pyc
page/migrations/*.pyc

# NPM
node_modules/

# Django Files
/static/
media/
