Django<3.0
wagtail==2.7.0
django-cors-headers==3.1.0
django-storages==1.7.1
awscli==1.16.230
boto3==1.9.220
botocore==1.12.220
s3transfer==0.2.1
wagtailfontawesome==1.1.4
pillow==6.2.1
wagalytics==1.0
 markdown==3.1.1
