{% load static wagtailuserbar %}

<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>
			{% block title %}
				{% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
			{% endblock %}
			{% block title_suffix %}
				{% with self.get_site.site_name as site_name %}
					{% if site_name %}- {{ site_name }}{% endif %}
				{% endwith %}
			{% endblock %}
		</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">

		{# Google Analytics #}
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152963694-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-152963694-1');
		</script>

		{# Global stylesheets #}
		<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		{% block extra_css %}{% endblock %}
	</head>

	<body class="{% block body_class %}{% endblock %}">
		{% wagtailuserbar %}

		{% include "navigation/nav.html" %}

		{% block extra_nav %}{% endblock %}

		<div id="content">
			{% block content %}{% endblock %}
			{% include "navigation/footer.html" %}
		</div>

		{# Global javascript #}
		{# Vendor JS #}
		<script src="https://use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
		<script src="/static/js/vendor/jquery.3.4.1.min.js" type="text/javascript"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
		<script type="text/javascript" src="{% static 'js/vendor/imagesLoaded.min.js' %}"></script>

		{# Global JS #}
		<script type="text/javascript" src="/static/js/thegemexchange.js"></script>
		<script type="text/javascript" src="/static/js/navigation.js"></script>

		{% block extra_js %}{% endblock %}
	</body>

</html>
