$link-color:       #D399FC;
$link-hover-color: #985F99;

$background-color:      #FFFFFF;
$dark-background-color: #010103;

$nav-background-color: #333333;
$nav-border-color: 1px solid #222222;

$common:    #B0F171;
$uncommon:  #FFE476;
$rare:      #FF855B;
$legendary: #FF6FA2;

$male:      #307ECE;
$female:    #EE3851;
$nonbinary: #A020F0;
