$home-content-width: 750px;

// Link Brand Colors
$toyhouse:    rgba(0,140,186,1);
$deviantart:  #4e6252;
$github:      #333333;
$furaffinity: #2e3b41;
$patreon:     #f96854;
$twitter:     #1DA1F2;
$discord:     #7289DA;

$btn-color: rgba(153,102,204,0.9);

.homepage #content{
	height:             100vh;
	overflow:           hidden;
	position:           relative;
	perspective:        1px;
	perspective-origin: 0 100%;

	footer {
		margin-top: -44px;
	}
}

#homepage-title{
	// Background on both title and social links, display side by side
	@media screen and (min-width: 1201px){
		background: rgba(0,0,0,0.75);
		height:     4rem; // 1rem less than the text so the text overflows
		h1.title-text {
			float:      right;
			font-size:  5rem;
			text-align: right;
		}
	}

	// Background on social links only, display stacked
	@media screen and (max-width: 1200px){
		height: auto;
		overflow: hidden;

		#social-links,
		h1.title-text {
			float:      right;
			width:      100%;
			text-align: center;
			display:    block;
		}

		#social-links {
			background: #000;
		}

		h1.title-text {
			text-align: center;
			font-size: 3rem;
		}
	}

	// Hide social links (since they're in side nav) and remove all backgrounds
	@media screen and (max-width: 766px){
		background-color: transparent;

		#social-links {
			display: none;
		}
	}

	position: absolute;
	top:      20vh;
	left:     0;
	right:    0;
	z-index:  1;

	ul#social-links {
		float:     left;
		height:    4rem;
		transform: skewX(-20deg); // Angle the background, but not the text

		padding: 0;
		margin: 0;

		li {
			overflow:       hidden;
			height:         4rem;
			transition:     all .2s ease; // Transition width to show link text on hover only
			width:          4rem;
			float:          left;
			display:        inline;

			div {
				transform: skewX(20deg);
				max-height: 100%;
			}

			a {
				font-size:      1.5rem;
				font-family:    "Futura";
				font-weight:    normal;
				text-transform: uppercase;
				color:          #FFF;
				padding:        0px 25px;
				line-height:    4rem;

				i {
					color: #fff;
				}

				span{
					margin-left: 5px;
				}
			}

			&:hover{
				width:      12rem;
				box-shadow: inset  7px 0 5px -5px rgba(0,0,0,0.5),
							inset -7px 0 5px -5px rgba(0,0,0,0.5);

				&.toyhouse{    background-color: $toyhouse }
				&.deviantart{  background-color: $deviantart }
				&.github{      background-color: $github }
				&.patreon{     background-color: $patreon }
				&.furaffinity{ background-color: $furaffinity }
				&.twitter{     background-color: $twitter }
				&.discord{     background-color: $discord }
			}

		}

	}

	h1.title-text {
		font-family:    "Verbena";
		text-transform: capitalize;
		text-shadow:    2px 2px 0 #000;
		color:          #FFF;
		margin:         0;
		line-height:    1.2;
	}
}

#multilayer-background {
	z-index:         -2;
	position:        relative;
	height:          100vh;
	transform-style: preserve-3d;

	img {
		@media screen and (max-width: 766px) {
			object-position: 25%; // Show the interesting part of the image on mobile!
		}

		object-fit: cover;
		min-width: 100%;
		min-height: 100vh;
		position: fixed;
		transform-origin: 0 100%;
		bottom: 0;

		&:nth-child(1) { transform: translateZ(-10px) scale(11) }
		&:nth-child(2) { transform: translateZ(-8px)  scale(9)  }
		&:nth-child(3) { transform: translateZ(-6px)  scale(7)  }
		&:nth-child(4) { transform: translateZ(-3px)  scale(4)  }
		&:nth-child(5) { transform: translateZ(-2px)  scale(3)  }
		&:nth-child(6) { transform: translateZ(-1px)  scale(2)  }
		&:nth-child(7) { transform: translateZ(0) }
	}

	// overflow:hidden breaks the parallax effect since it doesn't work with translateZ
	// To compromise, mask out everything after 100vh
	&:after{
		content: '';
		mask: linear-gradient(to bottom, transparent 0, transparent 100vh, black 100vh);
		height: 1000vh;
		width: 100%;
		position: fixed;
		z-index: 11;
		background: #000;
	}
}

#homepage-content{
	z-index:    -1;
	transform:  translateZ(0);

	color:      #fff;
	text-shadow: 1px 1px 1px #000;
	position:   relative;

	a {
		transition:  all .2s ease;
		font-weight: bold;
	}

	.rich-text{
		padding: 1em 2em;
		background: rgba(0,0,0,0.5);
		border-radius: 5px;
		max-width: 750px;
	}

	[class*="home-section-"] {
		font-size:  1.2em;
		height:     100vh;
		overflow:   hidden;
		display:    flex;

		&:nth-child(1), &:nth-child(2){

			&:before,
			&:after{
				content: '';
				position: fixed;
				width: 100%;
				height: 100vh;
			}

			&:after{
				background-attachment: fixed;
				background-position: top center;
				background-size: cover;
				z-index: -1;
				transition: 0.3s linear opacity;
				opacity: 1;
				background-image: url('/static/img/home/stardragon-space.jpg');
			}
			&.background-loaded:after{
				opacity: 1;
			}

			&:before{
				background: rgba(0,0,0,0.5);
				mask: linear-gradient(to bottom, black, transparent 30%, transparent 70%, black);
			}
		}

		&:nth-child(2):after{
			background-image: url('/static/img/comic/joarca-map.png');
		}

		.grid {
			align-content: center;
			max-width: 1100px;
		}
	}
}

.background-after{
	position: fixed;
	opacity: 0;
}
