// Vendor
@import './reflex.scss';

// Shared
@import './colors.scss';
@import './typography.scss';

// Pages
@import './page/home.scss';
@import './page/comic.scss';
@import './page/traits.scss';
@import './page/species.scss';
@import './page/basic.scss';

// Components
@import './navigation/nav.scss';
@import './navigation/footer.scss';
@import './navigation/mobile-nav.scss';
@import './sweetalert.scss';

* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: auto;
	min-height: 100vh;
	align-items: stretch;
}

body {
	body > * {
		flex-shrink: 0;
	}
}

#content {
	overflow-x: hidden;
	height: auto;
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	align-items: stretch;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: $link-color;

	&:hover{
		color: $link-hover-color;
		text-decoration: none;
	}

	&.disabled{
		pointer-events: none;
		cursor: not-allowed;
		color: #aaa;
	}
}

.info-sheet, .info-sheet img {
	width: 100%;
	display: block;
}

.species-thumbnail {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

	&.show{
		opacity: 1;
	}
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
	border-top: 1px solid rgba(0,0,0,.1);
}

button {
	cursor: pointer;
	font-family: Futura,sans-serif;
	text-transform: uppercase;
	background-color: #6c757d;
	border-color: #6c757d;
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 0px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: .25rem;
}

header, footer{
	a, a:not([href]){
		transition: all 0.3s ease;
		text-decoration: none!important;
	}
}

.no-padding {
	padding: 0;
}

.content {
	background: #fff;
	margin:     0 auto;
	position:   relative;
	z-index:    1;
	flex-grow:  1;
	width:      100%;
	height:     100%;
	padding-top:    15px;
	padding-bottom: 15px;
}

.grid {
	max-width: 1140px;
	width: 100%;
}

#nav-spacer{
	width:         100%;
	height:        2.8rem;
	background:    $nav-background-color;
	border-bottom: $nav-border-color;
	transition: all 0.5s ease;
	&.hideNav{
		background: $background-color;
		border-bottom: none;
	}
}

ul.horizontal-links{
	margin:  0 auto;
	padding: 0;

	li{
		display: inline-block;
		position: relative;

		a{
			display: block;
			padding: 10px;
			text-align: center;
			text-decoration: none;
		}

		&::after {
			content: '';
			position: absolute;
			width: 0;
			height: 3px;
			background: #fff;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			left: 50%;
			transition: .3s ease-in-out width;
			text-shadow: 1px 1px 3px #000;
			bottom: 0;
		}

		&.active::after,
		&:hover::after {
			width: 30%;
		}
	}

	.dropdown-menu{
		min-width: 11rem;

		li a{
			text-align: left;
		}
	}
}
