// Fonts
@font-face {
	font-family: "Frenchpress";
	src: url('./../fonts/Frenchpress.otf');
}
@font-face {
	font-family: "Futura";
	src: url('./../fonts/FuturaLight.ttf');
}
@font-face {
	font-family: "Verbena";
	src: url('./../fonts/Verbena.otf');
}

body {
	font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family:    "Futura", sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-top:     0;
}

a {
	text-decoration: none;
}

p:empty {
	margin: 0!important;
}

.text-center {
	text-align: center;
}
