$comic-header-height: 150px;

#comic-header{
	width:    100%;
	height:   $comic-header-height;
	display:  block;
	overflow: hidden;
	position: relative;
	box-shadow: 0px 0px 0px 1px #000 inset;
	background-size: cover;
	background-position: center;

	@media screen and (max-width: 767px){
		&:after{
			position: absolute;
			content: "";
			background: rgba(0,0,0,.3);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	#comic-header-title {
		position: relative;
		transform: translateY(-50%);
		top: 65%;
		z-index: 1;

		#comic-logo {
			position: relative;
			color: #fff;
			margin: 0 auto;
			display: block;
			max-width: 14.5rem;
			font-weight: bold;
			font-family: "Futura";
			letter-spacing: 3px;
			text-shadow: 1px 1px 1px #000;

			#tales-of{
				font-size: 1rem;
				margin-bottom: -1.5rem;
			}

			#joarca{
				font-size: 3rem;
			}

			#tales-of, #joarca{
				text-align: right;
				z-index: 1;
			}

			img {
				z-index: -1;
				position: absolute;
				left: 0;
				max-height: 5rem;
				width: auto;
				top: -15px;
				filter: drop-shadow(1px 1px 0px #000);
			}
		}
	}

	img{
		max-height: $comic-header-height;
		position: absolute;
		top: 0;
		bottom: 0;
		&:nth-child(1){ left: 0; }
		&:nth-child(3){ right: 0; }
	}
}

.comic-grid {
	text-align: center;
	max-width: 1000px;
	width: 100%;
}

.comic-navigation {
	width: 800px;
	max-width: 100%;
	font-size: 2em;
	display: flex;
	justify-content: space-between;
	padding: 0.5em;
	margin: 0 auto;

	span {
		font-size: 1.5rem;
		align-self: center;
		font-family: "Futura", sans-serif;
		text-transform: uppercase;
		letter-spacing: 1px;
	}
}
