// Link Brand Colors
$toyhouse:    rgba(0,140,186,1);
$deviantart:  #4e6252;
$github:      #333333;
$furaffinity: #2e3b41;
$patreon:     #f96854;
$twitter:     #1DA1F2;
$discord:     #7289DA;

$btn-color: rgba(153,102,204,0.9);

.homepage #content{
	height:             100vh;
	overflow-y:         scroll;
	overflow-x:         hidden;
	position:           relative;
	perspective:        1px;
	perspective-origin: 0 100%;
}

.home-jump-links {
	position: fixed;
	z-index: 111;
	left: 1em;
	top: 50%;
	transform: translateY(-50%);

	ul {
		margin: 0;
	}

	&::before {
		content: '';
		border-left: 1px dashed #fff;
		position: absolute;
		top: .5em;
		bottom: .5em;
		left: .5em;
		z-index: -2;
	}

	li {
		position: relative;
		width: 1.2em;
		overflow: hidden;
		transition: width 0.5s;

		&+ li {
			margin-top: 1em;
		}

		a{
			color: #FFF;
			padding: .5em 0 .5em 2em;
			font-family: "Futura";
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		&:hover:before,
		&.active:before {
			background-color: #fff;
		}

		&:hover {
			width: 6em;
		}

		&::before{
			display: inline-block;
			content: '';
			width: 1em;
			height: 1em;
			border: 1px solid #fff;
			border-radius: 50%;
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			transition: .2s ease background-color;
			background: #000;
			z-index: -2;
		}
	}
}

#homepage-title{
	.title-container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1em;
		text-align: center;
	}

	// Background on both title and social links, display side by side
	@media screen and (min-width: 1201px){
		background: rgba(51,51,51,0.75);
		height:     4rem; // 1rem less than the text so the text overflows
		h1.title-text {
			float:      right;
			font-size:  5rem;
			text-align: right;
		}
	}

	// Background on social links only, display stacked
	@media screen and (max-width: 1200px){
		height: auto;
		overflow: hidden;

		#social-links,
		h1.title-text {
			text-align: center;
			display:    block;
		}

		#social-links {
			background: #000;
		}

		h1.title-text {
			text-align: center;
			font-size: 3rem;
		}
	}

	@media screen and (max-width: 766px){
		background-color: transparent;

		#social-links {
			display: none!important;
		}
	}

	position: absolute;
	top:      20vh;
	left:     0;
	right:    0;
	z-index:  1;

	ul#social-links {
		height:    4rem;
		transform: skewX(-20deg); // Angle the background, but not the text
		display:   inline-block;

		padding: 0;
		margin: 0;

		li {
			overflow:       hidden;
			height:         4rem;
			transition:     all .2s ease; // Transition width to show link text on hover only
			width:          4rem;
			float:          left;
			display:        inline;
			text-align:     center;

			div {
				transform: skewX(20deg);
				max-height: 100%;
			}

			a {
				font-size:      1.5rem;
				font-family:    "Futura";
				font-weight:    normal;
				text-transform: uppercase;
				color:          #FFF;
				padding:        0px;
				line-height:    4rem;

				i {
					color: #fff;
				}

				span{
					margin-left: 5px;
				}
			}

			&:hover{
				width:      12rem;
				box-shadow: inset  7px 0 5px -5px rgba(0,0,0,0.5),
							inset -7px 0 5px -5px rgba(0,0,0,0.5);

				&.toyhouse{    background-color: $toyhouse }
				&.deviantart{  background-color: $deviantart }
				&.github{      background-color: $github }
				&.patreon{     background-color: $patreon }
				&.furaffinity{ background-color: $furaffinity }
				&.twitter{     background-color: $twitter }
				&.discord{     background-color: $discord }
			}

		}

	}

	h1.title-text {
		font-family:    "Verbena";
		text-transform: capitalize;
		text-shadow:    2px 2px 0 #000;
		color:          #FFF;
		margin:         0 0 1em 0;
		line-height:    1.2;
	}
}

#parallax-background {
	z-index:         -2;
	position:        fixed;
	height:          100vh;
	width: 100%;
	transform-style: preserve-3d;

	img {
		@media screen and (max-width: 766px) {
			object-position: 25%; // Show the interesting part of the image on mobile!
		}

		object-fit: cover;
		min-width: 100%;
		min-height: 100vh;
		position: fixed;
		transform-origin: 0 100%;
		bottom: 0;

		&:nth-child(1) { transform: translateZ(-10px) scale(11) }
		&:nth-child(2) { transform: translateZ(-8px)  scale(9)  }
		&:nth-child(3) { transform: translateZ(-6px)  scale(7)  }
		&:nth-child(4) { transform: translateZ(-3px)  scale(4)  }
		&:nth-child(5) { transform: translateZ(-2px)  scale(3)  }
		&:nth-child(6) { transform: translateZ(-1px)  scale(2)  }
		&:nth-child(7) { transform: translateZ(0) }
	}
}

#homepage-content {
	color:      #fff;
	text-shadow: 2px 2px 0 #000;

	@media screen and (max-width: 766px){
		.richtext-image {
			max-height: 40vh;
			width: auto;
		}
	}

	a {
		transition:  all .2s ease;
		font-weight: bold;
	}

	.rich-text{
		max-width: 600px;
	}

	[class*="home-section-"] {
		min-height:  100vh;
		overflow:    hidden;
		position:    relative;
		display:     flex;

		h2, h3 {
			font-size: 35px;
			letter-spacing: 1px;
			line-height: 1;
			position: relative;
			text-align: center;
			margin: 1em auto;
			max-width: 90%;

			a {
				&:not(:hover){
					color: #FFF;
				}
			}

			&::after{
				position: absolute;
				top: -.5em;
				bottom: -.35em;
				right: -15px;
				left: -15px;
				content: '';
				z-index: -1;
				background: #333;
				transform: skew(-20deg);
			}
		}

		p {
			font-size: 18px;
			line-height: 1.75;
			margin: 0 0 18px 0;
		}

		.grid {
			padding: 2em 0;
			align-content: center;

			[class*="col-"] {
				justify-content: center;
				align-items: center;
				display: flex;
				flex-direction: column;
			}
		}
	}
}

.section-background {
	position: absolute;
	height: 100%;
	width: 100%;
	background-attachment: fixed;
	background-size: cover;
	z-index: -1;
	background-color: #000;
	background-position: center;

	&:before{
		position: absolute;
		content: '';
		z-index: 1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		min-width: 100%;
		height: 100%;
		background: rgba(0,0,0,.5);
	}
}
