img.map-overlay {
	position: absolute;
	left:  0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;

	opacity: 0;
	transition: all 0.2s ease-in-out;
}

img.map-overlay.show {
	opacity:.75;
}

.litetooltip-hotspot-container .hotspot {
	width:         1.25%;
	height:        1.8214936247723135%;
	background:    #D4aF37;
	border:        3px solid #a37e1c;
	border-radius: 50%;
	opacity:       0.9!important;

	.node-title {
		font-family: "Verbena";
		opacity:     1;
		transition:  0.2s linear all;
		display:     block;
		float:       left;

		text-align:  center;
		text-shadow: -1px -1px 0 #FFF,
					  1px -1px 0 #FFF,
					 -1px  1px 0 #FFF,
					  1px  1px 0 #FFF;
	}

	.data-container {
		line-height: 1.5;
	}

	&.hotspot.hidden,
	&.hotspot.ocean,
	&.hotspot.continent,
	&.hotspot.text,
	&.hotspot.image-hotspot {
		background-color: transparent !important;
		border:           none !important;
		border-radius:    none !important;
	}

	&.hotspot.standard {
		.node-title {
			opacity: 0;
		}
	}

	&.hotspot.text{
		.node-title {
			font-size:   1.75vw;
			position:    absolute;
			display:     block;
			color:       #333;
			line-height: 0.9;
		}
	}

	&.hotspot.ocean {
		.node-title {
			font-size:   2vw;
			line-height: 1;
			color:       rgb(65, 137, 148);
		}
	}

	&.hotspot.continent {
		.node-title {
			text-align:  center;
			font-size:   4vw;
			line-height: .75;
			color:       #333;
		}

		&:hover .node-title,
		.node-title:hover,
		.node-title.active {
			color:       #FFF;
			text-shadow: -1px -1px 0 #333,
						  1px -1px 0 #333,
						 -1px  1px 0 #333,
						  1px  1px 0 #333;
		}
	}

	&.hotspot.image-hotspot.capitol {
		width:  2.9375%            !important;
		height: 4.280510018214937% !important;
	}

	&.hotspot.image-hotspot.turtle {
		width:  6.25%              !important;
		height: 9.107468123861565% !important;
		animation: float 3s ease-in-out infinite;
	}

	&.hotspot.image-hotspot {
		background-repeat:   no-repeat;
		background-position: center;
		background-size:     contain;
		transform: translate(-50%, -50%);

		.node-title { opacity: 0; }
	}
}

@keyframes float {
	0%   { transform: translate(-50%, -50%); }
	50%  { transform: translate(-50%, -55%); }
	100% { transform: translate(-50%, -50%); }
}

img.map-overlay,
img.map-background,
.litetooltip-hotspot-wrapper {
	width:     100% !important;
	max-width: 100% !important;
}

.litetooltip-wrapper {
	max-width: 500px;
}
