img.map-overlay {
	position: absolute;
	left:  0;
	right: 0;
	top: 0;
	bottom: 0;

	opacity: 0;
	transition: all 0.2s ease-in-out;
}

img.map-overlay.show {
	opacity:1;
}

.hotspot {
	width:         25px;
	height:        25px;
	background:    #D4aF37;
	border:        3px solid #a37e1c;
	border-radius: 50%;
	opacity:       0.9!important;
}

.hotspot.hotspot.image-hotspot {
	width: 150px !important;
	height: 150px !important;
	border-radius: 0;
	border: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transform: translate(-50%, -50%);
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translate(-50%, -50%);
	}
	50% {
		transform: translate(-50%, -55%);
	}
	100% {
		transform: translate(-50%, -50%);
	}
}

img.map-background,
.litetooltip-hotspot-wrapper {
	width:     100% !important;
	max-width: 100% !important;
}

.litetooltip-hotspot-container .hotspot {
	z-index: 1000!important;
}

.litetooltip-wrapper {
	max-width: 500px;
}
