body.species-page {
	background: #333;
	overflow-x: hidden;
}

.species-container {
	height: 200px;
	border: 1px solid #CCC;
	background-color: #000;

	overflow: hidden;
	position: relative;

	.species-background {
		object-position: center;
		object-fit: cover;
		position: absolute;
		height: 200px;
		left: 0;
	}
}


.species-thumbnail {
	height: auto;
	width: auto;
	filter: drop-shadow(1px 1px 10px #000);
	z-index: 1;
}

.species-list {
	padding: 50px 0;
}

.species-item {
	position: static;
	margin: 50px 0;
	height: 200px;

	&.open {
		height: 600px;
	}

	// Alternate image/text positioning
	&:nth-child(odd){
		> a .text{
			left: unset;
			right: 0;
		}
		> a .species-thumbnail {
			right: unset;
			left: 0;
		}
		.subspecies-list-container::before{
			left: 25%;
		}
	}

	> a .species-thumbnail {
		position: absolute;
		right: 0;
		bottom: -50px;

		max-height: 300px;
		max-width: 50%;
	}

	> a .text {
		position: absolute;
		bottom: 0;
		left: 0;

		padding: .5em 1em;

		font-weight: bold;
		font-size: 2em;

		color: #FFF;
		text-shadow: 1px 1px 1px #000;

		h3 { margin: 0; }

		a { text-decoration: none; }
	}

	> a .species-container {
		border-radius: 15px;
	}
}

.subspecies-list {
	position: absolute;
	left: -100em;
	right: -100em;

	height: auto;

	background: #ccc;
	margin: 75px 0;

	&.closed{
		height: 0;
		padding: 0;
		overflow: hidden;
	}

	.subspecies-list-container {
		margin: 0 auto;
		padding: 15px 0;
		width: 100vw;

		&::before {
			content: " ";

			position: absolute;
			top: 0;
			left: 75%;
			transform: translate(-50%,-100%);

			border: solid transparent;
			height: 0;
			width: 0;
			border-bottom-color: #ccc;
			border-width: 15px;

			pointer-events: none;
		}
	}
}

.subspecies-item {
	position: relative;
	text-align: center;
	width: 200px;
	margin: auto;


	.species-thumbnail {
		position: absolute;
		left: 50%;
		top: 0;
		height: 200px;
		max-width: unset;

		transform: translate(-50%);
	}

	.species-container {
		max-width: 100%;
		border-radius: 50%;
		height: 200px;
		width: 200px;

		.species-background {
		}
	}

	> .text {
		margin-top: 1em;
		font-size: 1.25em;
	}
}
