body.species-page {
	background: #333;
	overflow-x: hidden;
}

.species-container {
	height: 200px;
	background-color: #000;

	overflow: hidden;
	position: relative;

	.species-background {
		object-position: center;
		object-fit: cover;
		position: absolute;
		height: 100%;
		left: 0;
		min-width: 100%;
		max-width: unset;

		opacity: 0;
		transition: opacity 0.3s ease-in-out;

		&.show{
			opacity: 1;
		}
	}
}


.species-thumbnail {
	height: auto;
	width: auto;
	filter: drop-shadow(1px 1px 5px #000);
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;

	&.show{
		opacity: 1;
	}
}

.species-list {
	padding-top: 44px;
}

.species-item {
	position: static;
	margin-bottom: 60px;
	height: 250px;
	overflow-x: hidden;

	&.open {
		height: 600px;
	}

	// Alternate image/text positioning
	&:nth-child(odd){
		> a .text{
			left: unset;
			right: 0;
		}
		> a .species-thumbnail {
			right: unset;
			left: 0;
		}
		.subspecies-list-container::before{
			left: 25%;
		}
	}

	> a .species-thumbnail {
		position: absolute;
		right: 0;

		max-height: 250px;
		max-width: 250px;
	}

	> a .text {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 2;

		padding: .5em;

		font-weight: bold;
		font-size: 2em;

		color: #FFF;
		text-shadow: 0 0 10px #000;

		h3 { margin: 0; }

		a { text-decoration: none; }
	}

	> a .species-container {
		border-radius: 15px;
		border: 1px solid #CCC;
	}
}

.subspecies-list {
	position: absolute;
	left: -100em;
	right: -100em;

	height: auto;

	background: #FFF;
	margin-top: 75px;
	transition: background 0.5s ease-in-out;

	&.closed{
		height: 0;
		padding: 0;
		overflow: hidden;
		background: transparent;

		.subspecies-item {
			opacity: 0;
		}

		.subspecies-list-container::before{
			border-bottom-color: transparent;
		}
	}

	.subspecies-list-container {
		margin: 0 auto;
		padding: 15px 0;
		width: 100vw;

		&::before {
			content: " ";

			position: absolute;
			top: 0;
			left: 75%;
			transform: translate(-50%,-100%);

			border: solid transparent;
			height: 0;
			width: 0;
			border-bottom-color: #FFF;
			border-width: 15px;

			pointer-events: none;
			transition: border-bottom-color 0.3s ease-in-out;
		}
	}
}

.subspecies-list .col-auto{
	&:nth-child(1) .subspecies-item{ transition-delay: 0.05s }
	&:nth-child(2) .subspecies-item{ transition-delay: 0.10s }
	&:nth-child(3) .subspecies-item{ transition-delay: 0.15s }
	&:nth-child(4) .subspecies-item{ transition-delay: 0.20s }
	&:nth-child(5) .subspecies-item{ transition-delay: 0.25s }
	&:nth-child(6) .subspecies-item{ transition-delay: 0.30s }
}

.subspecies-item {
	position: relative;
	text-align: center;
	width: 200px;
	margin: auto;
	transition: 0.35s opacity ease-in-out;
	opacity: 1;

	.species-thumbnail {
		position: absolute;
		left: 50%;
		top: 0;
		height: 200px;
		max-width: unset;
		transform: translate(-50%);
	}

	.species-container {
		max-width: 100%;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		border: 1px solid #000;
	}

	> .text {
		margin-top: 1em;
		font-size: 1.25em;
		color: #000;
	}
}
