.species-page {
	background: #333;
}

.species,
.species ul {
	list-style-type: none;
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 0;
	padding: 100px 0;
	grid-gap: 1em;
	max-width: 1000px;
	margin: 0 auto;
}

.subspecies {
	position: relative;
	text-align: center;

	&.standard {
		margin: 50px 0;

		.species-background {
			height: 200px;
			border: 1px solid #CCC;
			border-radius: 15px;
		}

		&:nth-child(odd){
			.text{
				left: unset;
				right: 0;
			}
			img {
				right: unset;
				left: 0;
			}
		}

		.text{
			font-size: 2em;
			left: 0;
			padding: .5em 1em;
			h3 {
				margin: 0;
			}
		}


		img {
			height: 300px;
			right: -50px;
			bottom: -50px;
		}
	}
	// SubSpecies css - will change later
	// &:not(.standard) {
	// 	img {
	// 		height: 200px;
	// 	}
	//
	// 	.species-background {
	// 		height: 200px;
	// 		border-radius: 50%;
	// 		width: 200px;
	// 	}
	// }
}

.text {
	position: absolute;
	bottom: 0;
	padding: 1em;
}

.subspecies img {
	position: absolute;
	bottom: 0;
	width: auto;
	height: auto;
	padding: 5px;
	filter: drop-shadow(1px 1px 10px #000);
}

.species-background {
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #000;
}

.species, .species a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	font-size: 20px;
}
