.traits-page {
	p {
		font-family: "Frenchpress";
		font-size:   22px;
		font-weight: bold;
	}

	nav {
		&.traits-nav,
		&.subspecies-nav {
			li {
				position: relative;
			}

			a {
				text-transform: uppercase;
				color: #FFFFFF;
			}
		}

		&.traits-nav {
			position:   absolute;
			bottom:     0;
			width:      100%;
			text-align: center;
			z-index:    8;
			background: #333;
		}

		&.subspecies-nav {
			left: -.75em;
			top: 16.5em;
			position: absolute;
			transform: skew(-20deg);
			padding-left: 1.5em;
			padding-right: 1em;
			background: #666;

			ul {
				transform: skew(20deg);
				li {
					line-height: 50px;
				}
			}
		}
	}

	.species-info {
		position: absolute;
		top: 55%;
		width: 600px;
		padding: 2em 1em;
		line-height: 1.5em;
		color: #fff;
		background: #666;
		left: 0;
		max-height: 250px;
		overflow-y: scroll;
	}

	header.traits-header {
		position:   relative;
		box-shadow: inset 0px  10px 10px -10px #000,
					inset 0px -10px 10px -10px #000;
		transition: 0.3s ease height;
		height:     100vh;
		min-height: 100vh;
		overflow:   hidden;

		.background {
			transition:    .3s ease all;
			padding:       0;
			width:         100%;
			min-width:     100%;
			height:        100vh;

			background:          transparent;
			background-repeat:   no-repeat;
			background-position: center;
			background-color: #333;

			position: relative;
			overflow: hidden;

			z-index: -1;

			opacity: 0;

			&.show{
				opacity: 1;
			}

			> img {
				min-width:  100%;
				max-height: 100%;
				min-height: 100vh;
				position: fixed;
				object-fit: cover;
				object-position: center;
			}
		}

		.characters {
			position: absolute;
			right: 25%;
			top: 50%;
			transform: translate(50%, -50%);

			img {
				height:     auto;
				width:      auto;
				max-height: 75vh;
			}
		}

		.title {
			position: absolute;
			text-align: center;
			z-index: 1;
			transform: skew(-20deg);
			left: -1.5em;
			top: 10em;
			padding: 1em 2em 1em 3em;
			background: $nav-background-color;
			min-width: 500px;

			.species-emblem{
				height: 72px;
				width: auto;
				display: inline;
				float: left;
			}

			&.center {
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) skew(-20deg);
				padding: 1em 2em;
			}

			div {
				transform: skew(20deg);
			}

			h1{
				font-size: 3em;
				letter-spacing: 5px;
				margin: 0;
				color: #FFF;
			}

			h1, a {
				text-shadow: 1px 1px 3px #000;
			}
		}


		@media screen and (max-width: 768px){
			.title {
				bottom: 2em;
				top: unset;
				max-width: 100%;
				min-width: 100%;

				h1 {
					font-size: 1.5em;
				}
				.species-emblem{
					height: 1.5em;
				}
			}

			.characters {
				width: 100%;
				left: 0;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				text-align: center;

				img {
					height: 60vh;
					width: auto;
					margin: 0 auto;
					display: block;
					max-width: unset;
				}
			}

			.species-info {
				display: none;
			}
		}
	}

	.traits-content {
		background: #FFF;

		h3 {
			color: #fff;
			width: auto;
			float: left;
			padding: .5em;
			margin: .5em 0;
			position: relative;
			font-size: 1.5em;

			span {
				position: relative;
				z-index: 2;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: -10em;
				right: -5em;
				bottom: 0;
				background: #333;
				transform: skew(-20deg);
				z-index: 1;
			}
		}
	}

	.trait-filters {
		background-color: #efefef;

		input {
			width: 100%;
			border: 0;
			padding: .9em 1.2em;
			background-color: #efefef;
			font-size: 1.5em;
			border-width: 0 1px;
			font-family: futura;
			text-transform: uppercase;
			letter-spacing: 1px;
		}
	}

	.traits {

		.trait {
			text-align: center;
			text-transform: capitalize;
			border: 6px solid #efefef;
			padding: .5em 1em;
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			color: #fff;
			background: #333;

			.trait-img {
				width: 100%;
				height: 0;
				padding-bottom: calc(100% - 10px);
				border-radius: 5px;
				border:        5px solid transparent;
				transition:    all .5s ease;
				overflow:      hidden;
				background:    #fff;

			}

			img {
				transition: all .5s ease;
			}

			&:hover {
				.trait-img {
					border-color: transparent;
					// border-radius: 0;
				}
			}

			&.common {
				border-color: $common;

				.trait-img {
					border-color: $common;
				}
				&:hover .trait-img > img { background: $common; }
			}

			&.uncommon {
				border-color: $uncommon;

				.trait-img {
					border-color: $uncommon;
				}
				&:hover .trait-img > img { background: $uncommon; }
			}

			&.rare {
				border-color: $rare;

				.trait-img {
					border-color: $rare;
				}
				&:hover .trait-img > img { background: $rare; }
			}

			&.legendary {
				border-color: $legendary;

				.trait-img {
					border-color: $legendary;
				}
				&:hover .trait-img > img { background: $legendary; }
			}

		}
	}

}

.trait-emblem {
	overflow: hidden;
	position: absolute;
	top: .5em;
	right: .5em;

	img{
		display: block;
		max-width: 1.5em;
		max-height: 1.5em;
	}
}

.trait-description {
	font-size: 20px;
	margin-bottom: 2em;
}

.trait-title {
	text-align: left;
	font-size: 1.5em;
	padding-right: 1em;
	width: 100%;
	font-family: "Futura";
}

.trait-sex {
	color: #FFF;
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	display: inline-block;

	bottom: .5em;
	right: .5em;

	&.m::after { background-color: $male; }
	&.f::after { background-color: $female; }
	&.x::after { background-color: $nonbinary; }

	> svg {
		z-index: 1;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	&::after {
		content: '';
		position: absolute;
		height: 100%;
		width: 100%;
		background: red;
		left: 0;
		bottom: 0;
		border-radius: 50%;
	}
}

.trait-rarity {
	font-size: 1.5em;
	position: absolute;
	bottom: .5rem;
	left: .5rem;
	line-height: 1;

	&.common { color: $common; }
	&.uncommon { color: $uncommon; }
	&.rare { color: $rare; }
	&.legendary { color: $legendary; }

	/* Fontawesome's "Triangle" icon is not free - use fa-play and rotate */
	&.rare svg {
		transform: rotate(30deg) translateY(15%);
	}
}
