{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block body_class %}species-page{% endblock %}

{% block content %}
<ul class="species">
	{% for s in species.all %}
		{% with s.subspecies.all.0 as sub %}
			<li class="subspecies standard">
				<a href="/stardragons/{{s.name|lower}}s/">
					<div class="species-background" {% if sub.background %}style="background-image:url('{{sub.background.file.url}}')"{% endif %}>

						{{sub.thumbnail}}

						<div class="text">
							<h3>{{sub.species.name}}s</h3>
						</div>

					</div>
				</a>
			</li>
		{% endwith %}
	{% endfor %}
</ul>
{% endblock %}
