{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block content %}
<ul class="species">
	{% for s in species.all %}
		{% for sub in s.subspecies.all %}
			<li class="subspecies {% if forloop.first %}standard{% endif %}">
				<a href="/traits/{{sub.id}}/">
					<div class="species-background" {% if sub.background %}style="background-image:url('{{sub.background.file.url}}')"{% endif %}>
						{{sub.thumbnail}}
						<div class="text">
							<p>
								{% if forloop.first %}
								<b>{{sub.species.name}}s</b>
								<br>
								<em>{{sub.traits|length}} trait{{sub.traits|length|pluralize}}</em>
								{% else %}
									<b>{{sub.name}}</b>
								{% endif %}
							</p>
						</div>
					</div>
				</a>
			</li>
		{% endfor %}
	{% endfor %}
</ul>
{% endblock %}
