footer.grid {
	font-family: "Futura";
	text-transform: uppercase;
	background-color: $nav-background-color;
	text-align: center;
	max-width: 100%;
	overflow: hidden;

	a{
		color:#EEE;
	}

	img{
		margin: 0 auto;
		display: block;
	}
}
