{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block title %}Tales of Jo'Arca - Archive{% endblock %}

{% block body_class %}comicpage{% endblock %}

{% block content %}
	{% include "comic/header.html" %}

	<div class="grid comic-nav-grid">
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
	</div>
	<div class="grid comic-grid archive">
		<div class="col-12 comic-wrapper">
			<h1>Webcomic Archive</h1>
			<h2>Chapter 1</h2>
			<ul>
				{% for page in pages %}
				<li>
					<a title="Tales of Jo'Arca {{page.title}}" href="{{page.url}}">
						{% image page.comic width-300 %}
						{{page.title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="grid comic-nav-grid">
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
	</div>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/comic.js' %}?v={{VERSION}}"></script>
{% endblock %}
