{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block title %}Tales of Jo'Arca - Page {{page.page_number}}{% endblock %}

{% block body_class %}comicpage{% endblock %}

{% block content %}
	{% include "comic/header.html" %}

	<div class="grid">
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
	</div>
	<div class="grid comic-grid">
		<div class="col-12 comic-wrapper no-padding">
			<a href="/comic/{{next_page}}/">
				{% image page.comic width-800 %}
			</a>
		</div>
	</div>
	<div class="grid">
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
	</div>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/comic.js' %}?v={{VERSION}}"></script>
{% endblock %}
