<div class="comic-navigation">

	<a title="First" href="/comic/1/" {% if comic.page_number == 1 %}class="disabled"{% endif %}>
		<i class="fas fa-angle-double-left"></i>
	</a>

	<a title="Previous" {% if prev_page %}href="/comic/{{prev_page}}/"{% else %}class="disabled"{% endif %}>
		<i class="fas fa-angle-left"></i>
	</a>

	<span>Page {{comic.page_number}}</span>

	<a title="Next" {% if next_page %}href="/comic/{{next_page}}/"{% else %}class="disabled"{% endif %}>
		<i class="fas fa-angle-right"></i>
	</a>

	<a title="Last" href="/comic/{{page_count}}/" {% if comic.page_number == page_count %}class="disabled"{% endif %}>
		<i class="fas fa-angle-double-right"></i>
	</a>

</div>
