{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block body_class %}comicpage{% endblock %}

{% block content %}
	{% include "comic/header.html" %}

	<div class="grid comic-grid">
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
		<div class="col-12 no-padding">
			<a href="/comic/{{next_page}}/">
				{% image comic.comic original %}
			</a>
		</div>
		<div class="col-12">
			{% include "comic/navigation.html" %}
		</div>
	</div>
	
{% endblock %}
