<div class="grid trait-filters">

	<div class="col-md-3 col-sm-6">
		<h3>Name</h3>
		<div class="row">
			<input type="text" [(ngModel)]="filters.name" value="filters.name" class="form-control" [typeahead]="typeahead" [typeaheadMinLength]="0" (change)="filterTraits()"/>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<h3>Species</h3>
		<div class="row">
			<select class="form-control" [(ngModel)]="filters.species" (change)="getTraits(['subtype'])">
				<option value="all">All</option>
				<option value="s">Species</option>
			</select>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<h3>Subspecies</h3>
		<div class="row">
			<select class="form-control" [(ngModel)]="filters.subtype" (change)="filterTraits()" style="text-transform:capitalize">
				<option value="all">All</option>
				<option value="subtype">Subspecies</option>
			</select>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<h3>Trait Type</h3>
		<div class="row">
		<select class="form-control">
			<option value="all">All</option>
			<option value="type">type</option>
		</select>
		</div>
	</div>

	<div class="col-md-5 col-sm-6">
		<h3>Rarity</h3>
		<div class="row icon-selector">
			<div *ngFor="let rarity of rarities">
				<a>
					<i class="fa fa-circle rarity"></i><br>
					<small style="font-size:1rem">Rarity</small>
				</a>
			</div>
		</div>
	</div>

	<div class="col-md-4 col-sm-6">
		<h3>Sex</h3>
		<div class="row icon-selector">
			<a *ngFor="let sex of sexes" title="sex" class="trait-sex" [ngClass]="{'highlighted' : sex === filters.sex }" (click)="filters.sex = sex; filterTraits()">
				<i class="fa fa-transgender" *ngIf="sex=='unisex'"></i>
				<i class="fa fa-venus" *ngIf="sex=='feminine'"></i>
				<i class="fa fa-mars" *ngIf="sex=='masculine'"></i>
				<i class="fa fa-times-circle" *ngIf="sex=='all'"></i>
				<br>
				<small style="font-size:1rem">sex</small>
			</a>
		</div>
	</div>

	<div class="col-md-3 col-sm-6">
		<h3>Clear Filters</h3>
		<div class="row">
			<button (click)="clearAllFilters()" class="btn btn-secondary"><i class="fa fa-times-circle"></i></button>
		</div>
	</div>

	<div class="col-12">
		<hr>
	</div>

</div>
