{% load wagtailimages_tags %}

{% if species %}
	{% if species.color %}
	<style media="screen">
		.traits-header .species-info a {
			color: {{species.color}};
		}
		ul.horizontal-links li::after {
			background: {{species.color}};
		}
	</style>
	{% endif %}

	<header class="traits-header">

		{% include 'trait/navigation.html'%}

		<div class="background">
			{% if species.background %}
				{% image species.background width-1080 format-jpeg as background %}
				<img src="{{background.url}}" />
			{% elif species.species.background %}
				{% image species.species.background width-1080 format-jpeg as background %}
				<img src="{{background.url}}" />
			{% endif %}
		</div>

		<div class="title">
			<div>
				{% image species.emblem width-100 class="species-emblem" %}
				<h1>
					{% if species.species.name %}
						{{species.name}} {{species.species.name}}s
					{% else %}
						{{species.name}}s
					{% endif %}
				</h1>
			</div>
		</div>

		<nav class="subspecies-nav hidden-xs hidden-xxs">
			<ul class="horizontal-links">
				<li {% if not species.species %}class="active"{% endif %}>
					<a href="/traits/?species={{species_name}}">All</a>
				</li>
				{% for s in subtypes %}
					<li {% if s.name == species.name %}class="active"{% endif %}>
						<a href="/traits/?species={{species_name}}&subspecies={{s.name|lower}}">{{s.name}}</a>
					</li>
				{% endfor %}
			</ul>
		</nav>

		<div class="species-info">
			<h3>{{traits.count}} Trait{{traits.count|pluralize}}
				{% if species == parent_species %}
					| {{subtypes.count|add:-1}} Subtype{{subtypes.count|add:-1|pluralize}}
				{% endif %}
			</h3>
			<p>{{species.description}}</p>
			<p>
				<a href="/stardragons/{{species_name|lower}}s">
					More info <i class="fa fa-external-link-alt"></i>
				</a>
			</p>
		</div>

		<div class="characters">
			{{species.thumbnail}}
		</div>
	</header>
{% else %}
	<div style="width:100%; padding-top:44px;"></div>
	<div
	 	class="hidden-xs hidden-xxs"
		style="min-height:44px; position:relative; overflow:hidden; width:100%">
		{% include 'trait/navigation.html'%}
	</div>
	<div class="grid">
		<div class="col-12">
			<h1>Traits Compendium ({{traits.count}} Trait{{traits.count|pluralize}})</h1>
		</div>
	</div>
{% endif %}
