{% extends "base.html" %}

{% load static %}

{% block title %}{{title}}{% endblock %}

{% block body_class %}traits-page{% endblock %}

{% block content %}

	{% include 'trait/header.html'%}

	<div class="traits-content">
		{% include 'trait/filters.html'%}
		{% include 'trait/list.html'%}
	</div>

{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/vendor/livefilter.js' %}?v={{VERSION}}"></script>
	<script type="text/javascript" src="{% static 'js/traits.js' %}?v={{VERSION}}"></script>
{% endblock %}
