{% load wagtailimages_tags menu_tags %}
<div
	class="trait {{trait.rarity}} col-6 col-sm-3"
	data-name="{{trait}}"
	data-type="{{trait.type}}"
	data-species="{{trait.species}}"
	data-sex="{{trait.sex}}"
	data-rarity="{{trait.rarity}}">

	<div class="trait-emblem">
		{% image trait.emblem width-100 %}
	</div>

	<div class="trait-img">
		{% image trait.image width-400 height-400 %}
	</div>

	<p class="trait-description">

		<span class="trait-rarity {{trait.rarity}}" title="{{trait.rarity}}">
			{{trait.rarity_icon}}
		</span>

		<span class="trait-name">&nbsp;{{trait}}&nbsp;</span>

		<span class="trait-sex {{trait.sex}}" title="{{trait.sex}}">{{trait.sex_icon}}</span>
	</p>
	<p style="display:none" class="search-string">
		{{trait}} {{trait.type}} {{trait.sex|sex}} {{trait.species}} {{trait.rarity}}
	</p>
</div>
