{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

<div class="litetooltip-hotspot-wrapper" style="max-width: 1600px">
	<div class="litetooltip-hotspot-container" style="padding-bottom: 68.625%">

		<img src="{{settings.map.MapSettings.map_image.file.url}}" data-width="1600" data-height="1098" />

		{% for node in nodes %}
			{# div #}{{node.node_html|safe}}
				<div class="data-container">
					<h1>{{node.title}}</h1>
					{{node.description|richtext}}
				</div>
			</div>
		{% endfor %}

	</div>
</div>
