{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags menu_tags %}

{% block title %}Jo'Arca Map{% endblock %}

{% block body_class %}mappage{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'css/vendor/litetooltip.min.css' %}">
{% endblock %}

{% block content %}
	<div id="nav-spacer"></div>
	{% include 'map/litetooltip_map.html' %}
{% endblock %}

{% block extra_js %}
	<script type="text/javascript" src="{% static 'js/vendor/litetooltip.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/map.js' %}?v={{VERSION}}"></script>
{% endblock %}
