{% load wagtailcore_tags menu_tags wagtailimages_tags %}

{% if background_image %}
	{% image background_image width-1080 format-jpeg as background %}
	<div class="section-background" style="background-image:url({{background.url}})"></div>
{% endif %}
<div class="grid">
	{% if value.block.name == 'One_Column' %}
		<div class="{% if value.column.column_options.classes %}{{value.column.column_options.classes}}{% else %}col-12{% endif %}">
			{{ value.column.content }}
		</div>
	{% elif value.block.name == 'Two_Columns' %}
		<div class="{% if value.left_column.column_options.classes %}{{value.left_column.column_options.classes}}{% else %}col-auto{% endif %}">
			{{ value.left_column.content }}
		</div>
		<div class="{% if value.right_column.column_options.classes %}{{value.right_column.column_options.classes}}{% else %}col-auto{% endif %}">
			{{ value.right_column.content }}
		</div>
	{% elif value.block.name == 'Three_Columns' %}
		<div class="{% if value.left_column.column_options.classes %}{{value.left_column.column_options.classes}}{% else %}col-auto{% endif %}">
			{{ value.left_column.content }}
		</div>
		<div class="{% if value.center_column.column_options.classes %}{{value.center_column.column_options.classes}}{% else %}col-auto{% endif %}">
			{{ value.center_column.content }}
		</div>
		<div class="{% if value.right_column.column_options.classes %}{{value.right_column.column_options.classes}}{% else %}col-auto{% endif %}">
			{{ value.right_column.content }}
		</div>
	{% endif %}
</div>
